.search-form {

  // .search-form__inner

  &__inner {
    max-width: 57rem;
    margin: 0 auto;
    background-color: $c-white;
    border-radius: 1.6rem;
    display: flex;
    padding: 6px;
  }

  // .search-form__lable

  &__lable {
    display: none;
  }

  // .search-form__input

  &__input {
    padding: 2.6rem;
    width: 100%;
  }

  // .search-form__btn

  
}